
name: Book

on:
  schedule:
    - cron: "1 4 * * 1-4"
  workflow_dispatch:

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  book-three_days_out:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2.0.0
        with:
          python-version: '3.8'
          chromedriver-version: '88.0.4324.96'
      
      - uses: browser-actions/setup-chrome@v1
      - run: chrome --version
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt # If you have a requirements.txt files
      - name: List Files in Repository
        run: ls -l
      - name: Change File Permissions
        run: |
          chmod +x chromedriver.exe
      - name: List Files in Repository
        run: ls -l

      - name: Run Booking Bot
        run: python app.py

      